.tabs {
    position: sticky;
    top: var(--sticky-offset);
    outline: 1px solid transparent;
    z-index: var(--layer-overlay-high);
    transition: background-color var(--m3-easing-slow), outline-color var(--m3-easing);
}

.tabContent {
    max-width: 640px;
    margin: 0 auto;
    /* Gap for the enroll button stuff */
    padding-bottom: 32px;
    width: 100%;
}

.image {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: var(--m3-shape-medium);
    background-color: var(--m3c-surface-container-lowest);
    width: 100%;

    &.placeholder {
        object-fit: scale-down;
    }
}

.description {
    color: var(--m3c-on-surface-variant);
    word-break: break-word;

    flex: 1;

    h1, h2, h3 {
        color: var(--m3c-on-surface);
        margin-block: 0.75em;
        font-weight: 400;
    }

    h2, h3 {
        font-weight: 450;
    }

    h4, h5, h6 {
        color: var(--m3c-on-surface);
        margin-block: 0.5em;
        font-weight: 500;
    }

    ul {
        list-style: disc;
        padding-left: 1em;
    }

    ol {
        padding-left: 1.25em;
    }

    p, span, ul, ol {
        color: var(--m3c-on-surface-variant);
        word-wrap: break-word;
    }
}

.actionButtonsContainer {
    position: sticky;
    bottom: 0px;
    width: 100%;
    padding: 16px;
    background-color: var(--m3c-surface);
    transition: background-color var(--m3-easing-slow), border-top-color var(--m3-easing);
    border-top: 1px solid transparent;

    &:empty {
        display: none;
    }
}

.membersGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));

    @media (max-width: 384px) {
        grid-template-columns: 1fr;
    }
}

.membersHeader {
    padding-block: 8px;
    padding-inline: 16px;
    position: sticky;
    /* Top app bar height + tabs height (+ outline) */
    top: calc(var(--sticky-offset) + 48px + 1px);
    background-color: var(--m3c-surface);
    z-index: var(--layer-overlay);
}

.membersList {
    z-index: var(--layer-content);

    a, button {
        width: 100%;
    }
}

.noMembers {
    padding-inline: 16px;
    padding-block: 8px;
}

.actionButton {
    width: 100%;
    max-width: calc(640px - 32px);
}

.subActionButton {
    flex: 1;
}

.thumbnail {
    width: 64px;
    height: 64px;
    border-radius: var(--m3-shape-small);
    object-fit: cover;
    background-color: var(--m3c-surface-container-lowest);
    box-shadow: var(--m3-elevation-3);
    transform-origin: bottom left;
    transition: all var(--m3-easing-slow-spatial);

    &:hover {
        width: 128px;
        height: 128px;
    }
}

