.sep {
    margin-inline: 32px;
    color: var(--m3c-outline-variant);
    margin-block: 16px;
    border-radius: var(--m3-shape-full);
}

.navContainer {
    height: 100%;
}

.outer {
    background-color: var(--m3c-surface-container);
    width: 100%;
    min-height: 0;
    z-index: var(--layer-content);
}

.inner {
    background-color: var(--m3c-surface);
    border-radius: var(--m3-shape-large-increased) 0 0 0;
    scrollbar-gutter: stable;
    overflow-y: auto;
    min-height: 0;
    transition: border-radius var(--m3-easing-slow);

    &.modalNav {
        border-radius: 0;
    }
}

.toggleContainer {
    padding-inline: 16px;
    padding-inline-end: 20px;
    transition: padding-inline-end var(--m3-easing-spatial);

    &.open {
        padding-inline-end: 144px;
    }

    &.modalNav {
        padding-inline-end: 12px;
    }
}

.navRail.navRail {
    z-index: var(--layer-nav);
    padding-block: 16px;
    /* So it looks connected to TopAppBar */
    border-top-right-radius: 0;

    /* Hide the top content div (TODO: Fix in M3Solid) */
    > div:first-child {
        display: none;
    }
}

/* Backdrop, TODO: Fix in M3Solid */
.navRail + div {
    z-index: calc(var(--layer-nav-backdrop));
}

:global(#app):has(:global(#admin-app)) {
    height: 100vh;
    height: 100dvh;
    --sticky-offset: 0px;
}

:global(#admin-app) {
    min-height: 0;
}
