.container {
    padding: 16px;
}

.searchContainer {
    flex: 1;
}

.search {
    width: 100%;
}

.list {
    border-radius: var(--m3-shape-large);
    overflow: hidden;
    background-color: var(--m3c-surface-container);
}