.thumbnail {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: var(--m3-shape-medium);
    background-color: var(--m3c-surface-container-lowest);
}

.card {
    p {
        color: var(--m3c-error);
    }

    &[data-open='true'] {
        color: var(--m3c-primary);

        &:not([data-has-selection='true']) {
            background-color: var(--m3c-primary-container);
        }

        h1,
        p {
            color: var(--m3c-on-surface);
        }

        svg {
            color: var(--m3c-on-surface-variant);
        }
    }

    &[data-has-selection='true'] {
        color: var(--m3c-on-surface-variant);

        h1,
        p {
            color: var(--m3c-on-surface);
        }
    }

    &:not([data-open='true']):not([data-has-selection='true']) {

        h1,
        p {
            color: var(--m3c-on-surface);
        }
    }
}