.avatar {
    width: 48px;
    height: 48px;
    background-color: var(--m3c-surface-container-lowest);
    border-radius: var(--m3-shape-full);
    object-fit: cover;
}

@media (max-width: 384px) {
    .userInfo {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}