:root {
  --m3-font: "Google Sans Flex", "Noto Sans Thai", "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: var(--m3-font);
  /* color-scheme: light dark; */
  -webkit-font-smoothing: antialiased;
  accent-color: var(--m3c-primary);

  --layer-content: 1;
  --layer-overlay: 2;
  --layer-overlay-high: 5;
  --layer-nav: 10;
  --layer-dialog: 20;
}

*::selection {
  background-color: var(--m3c-primary-fixed-dim);
}

:root, body, #app {
  min-width: 100%;
  min-height: 100%;

  display: flex;
  flex: 1;

  padding: 0;
  margin: 0;

  background-color: var(--m3v-background);
}

h1, h2, h3, h4, h5, h6, p, pre {
  margin: 0;
}

.padded {
  padding: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.credits {
  color: var(--m3c-on-surface-variant);
  opacity: 0.6;
  font-size: 12px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  user-select: none;
  cursor: pointer;
}

.text-primary {
  color: var(--m3c-primary);
}

.text-error {
  color: var(--m3c-error);
}

.text-surface-variant {
  color: var(--m3c-on-surface-variant);
}

.text-center {
  text-align: center;
}

.text-balance {
  text-wrap: balance;
}

.text-ws-pre-line {
  white-space: pre-line;
}

#app {
  display: flex;
  flex-direction: column;
}
