:root {
	--m3c-primary: rgb(83 90 146);
	--m3c-surface-tint: rgb(83 90 146);
	--m3c-on-primary: rgb(255 255 255);
	--m3c-primary-container: rgb(223 224 255);
	--m3c-on-primary-container: rgb(14 21 75);
	--m3c-secondary: rgb(67 94 145);
	--m3c-on-secondary: rgb(255 255 255);
	--m3c-secondary-container: rgb(215 226 255);
	--m3c-on-secondary-container: rgb(0 26 64);
	--m3c-tertiary: rgb(63 95 144);
	--m3c-on-tertiary: rgb(255 255 255);
	--m3c-tertiary-container: rgb(214 227 255);
	--m3c-on-tertiary-container: rgb(0 27 61);
	--m3c-error: rgb(186 26 26);
	--m3c-on-error: rgb(255 255 255);
	--m3c-error-container: rgb(255 218 214);
	--m3c-on-error-container: rgb(65 0 2);
	--m3c-background: rgb(251 248 255);
	--m3c-on-background: rgb(27 27 33);
	--m3c-surface: rgb(251 248 255);
	--m3c-on-surface: rgb(27 27 33);
	--m3c-surface-variant: rgb(227 225 236);
	--m3c-on-surface-variant: rgb(70 70 79);
	--m3c-outline: rgb(119 118 128);
	--m3c-outline-variant: rgb(199 197 208);
	--m3c-shadow: rgb(0 0 0);
	--m3c-scrim: rgb(0 0 0);
	--m3c-inverse-surface: rgb(48 48 54);
	--m3c-inverse-on-surface: rgb(242 239 247);
	--m3c-inverse-primary: rgb(188 194 255);
	--m3c-primary-fixed: rgb(223 224 255);
	--m3c-on-primary-fixed: rgb(14 21 75);
	--m3c-primary-fixed-dim: rgb(188 194 255);
	--m3c-on-primary-fixed-variant: rgb(59 66 121);
	--m3c-secondary-fixed: rgb(215 226 255);
	--m3c-on-secondary-fixed: rgb(0 26 64);
	--m3c-secondary-fixed-dim: rgb(172 199 255);
	--m3c-on-secondary-fixed-variant: rgb(42 70 119);
	--m3c-tertiary-fixed: rgb(214 227 255);
	--m3c-on-tertiary-fixed: rgb(0 27 61);
	--m3c-tertiary-fixed-dim: rgb(169 199 255);
	--m3c-on-tertiary-fixed-variant: rgb(38 71 119);
	--m3c-surface-dim: rgb(219 217 224);
	--m3c-surface-bright: rgb(251 248 255);
	--m3c-surface-container-lowest: rgb(255 255 255);
	--m3c-surface-container-low: rgb(245 242 250);
	--m3c-surface-container: rgb(239 237 244);
	--m3c-surface-container-high: rgb(234 231 239);
	--m3c-surface-container-highest: rgb(228 225 233);
}
