.card {
    max-width: 384px;
    width: 100%;
}

.electiveCard {
    composes: card;
    color: var(--m3c-error);

    h1 {
        color: var(--m3c-on-surface);
    }

    &[data-open='true'] {
        --m3-card-container-color: var(--m3c-primary-container);
        color: var(--m3c-primary);
        

        svg {
            color: var(--m3c-on-surface-variant);
        }
    }
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: var(--m3-shape-full);
    object-fit: cover;
}