.badge {
    border-radius: calc(infinity * 1px);
    padding: 4px 8px;
    /* user-select: none; */
}

.error {
    background: var(--m3c-error);
    color: var(--m3c-on-error);
}

.tertiary {
    background: var(--m3c-tertiary);
    color: var(--m3c-on-tertiary);
}

.tonal {
    background: var(--m3c-primary-container);
    color: var(--m3c-on-primary-container);
}