.grid {
    position: relative;
}

.searchContainer {
    padding-inline: 16px;
    padding-block: 8px;
    background-color: var(--m3c-background);
    position: sticky;
    top: var(--sticky-offset);
    z-index: var(--layer-overlay-high);

    &:empty {
        display: none
    }
}

.search {
    transition: background-color var(--m3-easing-slow), outline-color var(--m3-easing);
}
